<h2>
<div><input type="radio" name="delivery" value="twitter">Twitter
<input type="radio" name="delivery" value="text">Text
<input type="radio" name="delivery" value="email">E-Mail</div>
</h2>

<h3>
<div>Phone Number<input type="tel" id="usrtel"></div>
<div>Twitter<input type="text" id="handle"></div>
<div>Address<input type="text" id="email"></div>
<div>Message<textarea id="message" rows=4 cols=40></textarea></div>
<input type="button" id="send_message" value="Send Message">
</h3>

<div id="blank"></div>
</div>
