<!DOCTYPE html>
<html>
<head>
  <title>CommunikatrClient</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="span7 well offset5">
  <nav class = "navbar navbar-inverse"><h1>Communikatr</h1></nav>
  <%= yield %>
</div>


</body>
</html>
